/*
 * cart_show_if_added - этим классом обозначается блок, который будет показан после того,
 * как товар добавлен в корзину
 */

/*
 * cart_hide_if_added - этим классом обозначаем то, что скроется, после того, как товар добавлен
 */

/*
 * added-to-cart - этот класс добавляется к контейнеру товара, когда его кладут в корзину
 */

.cart_show_if_added {
    position:absolute !important;
    left:-99999px !important;
}

.added-to-cart .cart_show_if_added {
    position:static !important;
    left:0 !important;
}

.added-to-cart .cart_hide_if_added {
    position:absolute !important;
    left:-99999px !important;
}
