html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.grid-view .summary {
	text-align:right;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

.nav > li > form > button:hover {
    text-decoration: none;
}

.list_widget .select_item {
    display: inline-block;
    vertical-align: top;
    width: 40%;
}
.list_widget .select_item.middle {
    text-align: center;
    width: 19%;
}
.list_widget .scroll_box {
    background: white none repeat scroll 0 0;
}
.list_widget .scroll_box > ul {
    list-style: outside none none;
    padding: 0;
    height: 300px;
}
.list_widget ul li {
    padding: 1px 10px;
    cursor:pointer;
}
.list_widget ul li:hover {
    background-color: #e0ebed;
}
.list_widget ul li.selected {
    background-color: #e0ebed;
}
.list_widget li.rule_item {
    padding-left: 30px;
}
.list_widget .head_item {
    font-weight:bold;
}
.list_widget .scroll_box {
    background: white none repeat scroll 0 0;
    border: 1px solid #cccccc;
    margin-bottom: 20px;
}
.list_widget {
    margin-bottom: 20px;
}
.list_widget .select_item.middle a {
    font-size: 12px;
    margin: 5px 0;
    width: 80%;
    white-space: normal;
}
.list_widget .added_rules li {
    display: none;
}
.list_widget .added_rules li.added {
    display: block;
}

.krajee-datepicker {
    width: 175px !important;
}




.product-card__price {
    font-size: 24px;
}

.m-mini {
    width: 75px;
}

.product-item {
    border: 1px solid #a6a6a6;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
}

.quantity-button.quantity-up {
    height: 50%;
    top: 2px;
    right: 10px;
}

.quantity-button {
    position: relative;
    cursor: pointer;
    text-align: center;
    color: #3e3648;
    font-size: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.quantity-button.quantity-down {
    top: 0;
    left: 10px;
}

.cart-quantity__field {
    display:inline-block;
}

table.cart-table {
    width: 100%;
}

table.cart-table td, table.cart-table th {
    padding: 10px;
}

table.cart-table th {
    text-align: center;
}